[submodule "pwn/CheckIn_ret2text"]
	path = pwn/CheckIn_ret2text
	url = git@github.com:P4nda0s/CheckIn_ret2text.git
[submodule "pwn/flying_kernel"]
	path = pwn/flying_kernel
	url = git@github.com:pray77/SCTF-flying_kernel.git
