<html>
	<head>
		<style> 
			body{text-align:center} 
		  </style> 
		<title>{{ .title }}</title>
	</head>
	<body>
		<h1>
			{{ .title }}
		</h1>
		<br>
		<br>
		<a href="admin/index?id=1">Only Santa Claus(localhost) can access</a>
	</body>
	
</html>